/* .input {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
} */

.edit {
    align-items: center;
    display: flex;
    gap: 0.5em;
    margin-left: 1em;
}

.input-edit {
    display: flex;
    flex-direction: column;
}

.input-edit--actions {
    display: flex;
    align-self: flex-end;
    gap: 0.5em;
}

.invalid-input--edit-task {
    margin-left: 1em;
}

.invalid-input {
    color: #b42529;
    font-weight: bold;
    display: block;
    margin-top: 0.3em;
}

/* .form {
    display: flex;
    align-items: center;
    gap: 0.5em;
} */

.tasks-list {
    margin: 1em 0;
    padding: 0;
}

.task {
    align-items: center;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding-left: 0.5em;
}

.task-title {
    align-items: center;
    display: flex;
    gap: 0.5em;
}

.task-title--checked {
    text-decoration: line-through;
}

.task-actions {
    display: flex;
}

.task-icon {
    cursor: pointer;
    padding: .5em;
    
}

.task-icon:hover {
    background-color: #429867;
}

.task:has(.task-icon:hover) {
    background-color: #1a1a1a;
}

.task-icon--delete:hover {
   background-color: #b42529; 
}

.checkbox {
    cursor: pointer;
}
